[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
	ignore = dirty
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
